---
import { getCollection } from "astro:content";
import BlogMetaLayout from "../layouts/BlogMetaLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "website tips and tutorials";
const allPosts = await getCollection("tuts");
allPosts.sort((a, b) => {
    const dateA = new Date(b.data.pubDate);
    const dateB = new Date(a.data.pubDate);
    return dateA.getTime() - dateB.getTime();
});

const tags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
];
tags.sort();
---

<BlogMetaLayout pageTitle={pageTitle}>
    <p>
        some advice and tutorials for web dev, particularly for making neocities
        pages and/or for folks who are new to web dev!
    </p>
    <h2>tutorial archive</h2>
    <ul>
        {
            allPosts.map((post: any) => (
                <BlogPost
                    url={`/learn/${post.id}/`}
                    title={post.data.title}
                    description={post.data.description}
                />
            ))
        }
    </ul>
    <h2>tags index</h2>
    <div class="tags">
        {
            tags.map((tag) => (
                <p class="tag">
                    <a href={`/tut-tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</BlogMetaLayout>
