---
import BaseLayout from "./BaseLayout.astro";
import { DateTime } from "luxon";
import ToC from '../components/ToC.astro';
import { Image } from 'astro:assets';

const { frontmatter, headings } = Astro.props;
const luxonPub = DateTime.fromJSDate(frontmatter.pubDate, { zone: "utc" });

let edited;
let luxonEdit;
if (frontmatter.editDate.getTime() !== frontmatter.pubDate.getTime()) {
    edited = true;
    luxonEdit = DateTime.fromJSDate(frontmatter.editDate, { zone: "utc" });
} else {
    edited = false;
}
---

<BaseLayout pageTitle={frontmatter.title}>
    <article>
    <p class="published">
        published {luxonPub.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY)}
        { edited && ` | updated ${luxonEdit.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY)}`}
    </p>
    { headings.length > 0 && <ToC headings={headings} />}
    <figure class="post-hero">
        <Image src={frontmatter.cover} alt={frontmatter.alt} />
        {frontmatter.caption && <figcaption set:html={frontmatter.caption} />}
    </figure>
    <div class="post">
        <slot />
    </div>

    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tut-tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</article>
</BaseLayout>