---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

let edited;
if (frontmatter.editDate) {
    edited = true;
} else {
    edited = false;
}
---

<BaseLayout pageTitle={frontmatter.title}>
    <p class="published">
        published {frontmatter.pubDate.toLocaleDateString()}
    </p>
    {
        edited && (
            <p class="published">
                updated {frontmatter.editDate.toLocaleDateString()}
            </p>
        )
    }

    <figure class="post-hero">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
        <figcaption set:html={frontmatter.image.caption} />
    </figure>

    <div class="post">
        <slot />
    </div>

    <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tut-tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</BaseLayout>
